body{margin:0;font-size:12px;font-family:'Roboto',Arial,sans-serif;font-weight:400;background-color:#fdfdfd}
img{display:block}
input{-webkit-appearance:none;-moz-appearance:none}
input:focus{outline:none}
.middle{display:table;height:100%;min-height:100%;position:absolute;text-align:center;top:0;width:100%}
.inMiddle{display:table-cell;vertical-align:middle}
.cont{overflow:hidden;margin:63px 20px 20px}
.viewMore{padding:20px;text-align:center;background-color:#fff;color:#555;font-size:13px;border-top:1px solid #eee;cursor:pointer}
header{background-color:#fff;padding:1px;overflow:hidden;position:fixed;border-bottom:1px solid #f2f2f2;color:#888;top:0;right:0;left:0;height:50px;z-index:99999}
.logo{float:left;padding:15px 20px}
.logo a{outline:0}
.menuButton{float:right;cursor:pointer;padding:14px 0;width:50px}
.menuButton span{width:15px;height:2px;background-color:#0069ff;margin:4px auto;transition:.2s ease-in-out;display:block;border-radius:2px}
.menuButton.open span:nth-child(1){transform:rotate(135deg) translate(5px,-3px);width:15px;background-color:#ff0000}
.menuButton.open span:nth-child(2){opacity:0}
.menuButton.open span:nth-child(3){transform:rotate(-135deg) translate(5px,3px);width:15px;background-color:#ff0000}
.menuButton::after{content:'';width:1px;height:22px;background-color:#f0f0f0;position:absolute;top:15px;margin:0 0 0 -1px}
.headerLink{text-decoration:none;line-height:50px;padding:0 20px;color:#555;float:right;transition:color .1s;cursor:pointer}
.headerLink:hover{color:#111}
.rightSep::after{content:'';width:1px;height:22px;background-color:#f0f0f0;position:absolute;top:10px;margin:0 0 0 19px}
#dMenu{position:fixed;top:-250px;background-color:#fff;
right:10px;z-index:9999;width:150px;-webkit-transition:all .2s cubic-bezier(0.8,0,0.07,1);
-moz-transition:all .2s cubic-bezier(0.8,0,0.07,1);
-o-transition:all .2s cubic-bezier(0.8,0,0.07,1);-ms-transition:all .2s cubic-bezier(0.8,0,0.07,1);
transition:all .2s cubic-bezier(0.8,0,0.07,1);box-shadow:0 0 2px #d5d5d5;border-radius:4px}
#dMenu.open{top:56px}
#dMenu a{font-size:12px;padding:8px 15px;font-weight:400;color:#555;box-shadow:inset 0 1px #f5f5f5;display:block;text-decoration:none}
#dMenu a:first-child{box-shadow:none}
#dMenu a:hover{background-color:#f9f9f9;color:#0069ff}
.homeTitle{text-align:center}
.homeTitle h1{font-weight:400;font-size:41px;color:#374b5b;margin:0 0 7px}
.homeTitle h2{font-weight:300;font-size:13px;color:#aaa;line-height:25px;margin:0}
.srch{padding:17px;width:650px;overflow:hidden;background-color:#fcfcfc;border:1px solid #ddd;
margin:20px auto auto;color:#637282;font-size:12px;border-radius:30px;text-align:center;
box-sizing:border-box}
.srch:focus{background-color:#fff;border:1px solid #ccc}
.srch.active{max-width:440px;padding:0 20px;position:fixed;top:10px;left:128px;height:22px;
margin:0;z-index:999999;text-align:left;border-radius:0;background-color:#fff;border-color:#fff;border-left-color:#f0f0f0}
.sep{margin:20px auto;font-size:9px;position:relative;width:210px;z-index:1}
.sep::after{content:"";position:absolute;left:0;top:50%;height:1px;background:#e5e5e5;width:100%;z-index:-1}
.sep b{color:#555;padding:0 15px;background-color:#fff}
.uploadBtn{padding:15px;background:#0069ff;max-width:300px;font-weight:400;color:#fff;font-size:15px;border-radius:30px;
margin:10px auto;cursor:pointer;transition:all .2s}
.uploadBtn:hover{max-width:280px}
.loginBox{max-width:400px;padding:30px;margin:0 auto}
.loginBox input{font-size:13px;border:0;background-color:#fdfdfd;border-bottom:1px solid #e5e5e5;
padding:13px 0;width:100%;margin-bottom:10px;border-radius:0;box-sizing:border-box;transition:all .15s ease-in-out}
.loginBox input:focus{border-bottom:1px solid #0069ff;padding:13px 4px}
.loginBox button{font-size:12px;border:1px solid #0069ff;background-color:#0069ff;color:#fff;padding:12px;width:100%;
margin-top:10px;border-radius:4px;cursor:pointer;box-sizing:border-box;transition:all .15s ease-in-out}
.loginBox button:disabled{background-color:#2089ff;border-color:#0972ff}
.loginBox > h1{font-size:20px;font-weight:400;margin:0;padding-bottom:30px}
.loginBox > .socialLogin{font-size:12px;border:1px solid #ddd;background-color:#f5f5f5;text-align:left;color:#777
;padding:12px 14px;width:100%;margin-bottom:15px;border-radius:4px;cursor:pointer;box-sizing:border-box;transition:all .15s}
.loginBox > .socialLogin:hover{border:1px solid #ccc;background-color:#f5f5f5;color:#222}
.loginBox > .socialLogin img{float:left;padding-right:13px;margin-right:13px;border-right:1px solid #ddd}
.errorCheck{background-color:#feeeee;border-bottom:1px solid #f5dade;padding:20px 14px 14px;color:#b94a48;
position:fixed;top:-50px;width:100%;text-align:center;z-index:99999;transition:all 300ms cubic-bezier(0.175,0.885,0.32,1.275)}



.fileInfo{float:right;padding:0 20px;line-height:40px}
.playerContainer{width:65%;margin:0 auto}
.file{padding:20px;width:33.333%;float:left;box-sizing:border-box}
.fileImg{height:230px;background-size:cover;background-position:center;border-radius:5px;box-shadow:0 0 1px 1px #d5d5d5;position:relative;background-color:#555}
.fileImg a{outline:none}
.fileDetails{background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
position:absolute;width:100%;bottom:0;border-radius:0 0 5px 5px;padding:50px 25px 20px;color:#fff;box-sizing:border-box;z-index:8}
.fileName{float:left;width:70%;text-shadow:1px 1px 1px rgba(0,0,0,0.35)}
.fileDetails h3{margin:0;font-size:15px;font-weight:400}
.fileDetails h4{margin:3px 0 0;font-size:11px;font-weight:300;opacity:.8}
.fileButtons{right:25px;bottom:20px;position:absolute}
.fileButtons button{border:1px solid #fff;padding:4px;background-color:transparent;text-transform:uppercase;color:#fff;width:75px;
height:22px;border-radius:15px;font-size:10px;cursor:pointer;float:left;margin-left:5px}
.fileButtons button:hover{opacity:.8}
.fileButtons button:nth-child(2){font-size:15px;margin-right:-8px;width:30px;border:none}
.fileButtons button:nth-child(2) b{margin:-13px -8px;position:absolute}
.fileActions{padding:50px 10px 10px;overflow:hidden;visibility:hidden;box-sizing:border-box;position:absolute;z-index:999;
width:100%;opacity:0;transition:all 350ms cubic-bezier(0.175,0.885,0.32,1.275)}
.fileActions.active{padding:10px 10px 135px;visibility:visible;opacity:1}
.fileActions button{float:left;width:33.333%;padding:10px;background:rgba(0,0,0,0.7);
font-size:10px;color:#fff;font-weight:500;text-transform:uppercase;border:none;cursor:pointer}
.fileActions button:hover{background:#0069ff}
.fileActions button:first-child{border-radius:5px 0 0 5px}
.fileActions button:last-child{border-radius:0 5px 5px 0}
.dz-progress-text{font-size:50px;text-align:center;color:#252525;text-shadow:1px 1px #5F5F5F;padding:80px 0 0}
.dz-progress{position:absolute;width:100%;bottom:0;z-index:99}
.dz-upload{width:0;height:5px;display:block;background:linear-gradient(141deg,#0069ff 0%,#2089fd 100%);
border-radius:0 5px 5px 5px;transition:all 500ms}
.fileLink{width:100%;height:175px;position:absolute;z-index:9;background:url(/img/play.png) no-repeat center 90px;
filter:drop-shadow(0px 0px 3px rgba(0,0,0,0.2)) opacity(0.85);background-size:40px;opacity:0;cursor:pointer;transition:all .15s}
.fileLink:hover{opacity:1}
.vidInfo{padding:20% 0;text-align:center;font-size:22px;color:#999;max-width:400px;margin:0 auto}
.vidInfo span{display:block;padding-top:5px;font-size:14px;font-weight:300;color:#aaa}
@media only screen and (min-width: 1650px){.file{width:25%}}
@media only screen and (max-width: 1000px){.file{width:50%}}
@media only screen and (max-width: 700px){.inMiddle.noMiddle{display:block;vertical-align:top;margin-top:43px}
.fileInfo{display:none}.srch{width:100%;box-sizing:border-box}.homeTitle{padding:0 30px}
.homeTitle h1{font-size:27px}
.homeTitle h2{font-size:12px}
.cont{margin:10px;padding:0 10px}
.marginTop{margin-top:50px!important}
#dMenu{left:0;right:0;width:auto;border-radius:0}
#dMenu.open{top:53px}
#dMenu a{padding:12px 20px}
.file{width:100%;padding:12px 0}


.srchUpload{margin:80px 20px -3px}.srchUpload.active{margin:43px 30px -3px}


.cropMargin{margin-top:132px!important}
.uploadTxt{padding:17px 15px}
.playerContainer{width:100%}
#video_container{border-radius:0!important}
.srch.active{margin-top:30px;max-width:660px;padding:11px 20px;border-radius:5px;position:relative;height:auto;top:auto;left:auto;
z-index:999;text-align:center;background-color:#fbfbfb;border:1px solid #e8e8e8}
.cropperButton{margin-bottom:30px}}
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;
-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}
.noUi-target{position:relative;direction:ltr}
.noUi-base{width:100%;height:100%;position:relative;z-index:1}
.noUi-connect{position:absolute;right:0;top:0;left:0;bottom:0}
.noUi-origin{position:absolute;height:0;width:0}
.noUi-handle{position:relative;z-index:1;outline:none}
.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:top 0.3s,right 0.3s,bottom 0.3s,left .3s;transition:top 0.3s,right 0.3s,bottom 0.3s,left .3s}
.noUi-state-drag *{cursor:inherit!important}
.noUi-base,.noUi-handle{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.noUi-horizontal{height:7px}
.noUi-horizontal .noUi-handle{width:24px;height:24px;border-radius:24px;left:-12px;top:-8px}
.noUi-target{background:#eee;border-radius:8px}
.noUi-connect{background:#0069ff;border-radius:8px;-webkit-transition:background 450ms;transition:background 450ms}
.noUi-draggable{cursor:ew-resize}
.noUi-vertical .noUi-draggable{cursor:ns-resize}
.noUi-handle{border:2px solid #0069ff;background:#FFF;cursor:pointer;transition:all .15s}
.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;border:3px solid #005af0}
[disabled] .noUi-connect{background:#B8B8B8}[disabled]
.noUi-target,[disabled].noUi-handle,[disabled]
.noUi-handle{cursor:not-allowed}
.cropper{margin:0 auto;max-width:600px;display:none;opacity:0;transition:all .3s}
.cropperError{padding:20px;margin-top:20px;border-radius:5px;background-color:#FFBABA;color:#D8000C}
.cropperPreview{margin:20px 0;width:100%;border-radius:10px;position:relative;line-height:0;background-color:#000}
.cropperPreview video{border-radius:5px}
.cropperOverlay{background-color:rgba(0,0,0,0.15);height:100%;color:#fff;font-size:20px;font-weight:700;position:absolute;width:100%;
display:flex;align-items:center;justify-content:center;opacity:0;cursor:pointer;border-radius:5px}
.cropperControl{margin:25px 0}
.cropperTime{margin-bottom:15px;padding-top:15px;overflow:hidden;border-top:1px solid #eee}
.cropperTime input{padding:8px 0;font-size:11px;width:80px;box-sizing:border-box;border:1px solid #ddd;text-align:center;border-radius:4px;float:right;margin-left:10px}
.cropperMuteButton{background:#f7f7f7;cursor:pointer;background-image:url(/img/icon/unmute.png);background-repeat:no-repeat;background-size:12px 12px;background-position:center;color:#888;width:45px;height:32px;box-sizing:border-box;border:1px solid #ddd;border-radius:4px;float:left;transition:all .2s}
.cropperMuteButton.active{background-image:url(/img/icon/mute.png);background-repeat:no-repeat;background-size:12px 12px;background-position:center;opacity:.7}
.cropperButton{padding:12px;background-color:#0069ff;border:1px solid #005ff5;font-size:12px;color:#fff;text-align:center;text-transform:uppercase;cursor:pointer;border-radius:4px;transition:all .25s}.cropperButton:hover{background-color:#005ff5}
.spinner{margin:20px auto;border:3px solid #f3f3f3;border-top:3px solid #0069ff;border-radius:50%;width:40px;height:40px;animation:spin 1s linear infinite;display:none}
@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}